#### Repository settings #####

# Your GitHub repository name in the format OWNER/REPO
GITHUB_REPO=agera-edc/MinimumViableDataspace

#### Azure Container Registry settings #####

# Resource group name for Azure Container Registry instance
ACR_RESOURCE_GROUP=agera-mvd-common
# Resource group location for Azure Container Registry instance
ACR_RESOURCE_GROUP_LOCATION=northeurope
# Azure Container Registry instance name
ACR_NAME=ageramvd

# The Application (client) ID used for the CD pipeline
CD_CLIENT_ID=5f93ea5f-c0f0-4f6f-876f-c346d0127e61
